<div class="panel panel-primary">
	<div class="panel-heading">
			<h3 class="panel-title">
		    <% name ||="Crear" %>
		    <h1><%= name %> Post</h1>
	      </h3>
	</div>

	<div class="panel-body">
		<%= form_for(@post) do |f| %>
		<% @post.errors.full_messages.each do |message| %>
			<div class="list-group-item list-group-item-danger">
			<%= message %>
			</div>
		<%end%>	
			<div>	
		UPLOAD FILE: <%= f.file_field :cover%>
	</div>
		  <div class="field">
		    <%= f.label :title %>
		    <%= f.text_field :title, placeholder: "Title", class:"form-control"%>
		  </div>

		  <div class="field">
		    <%= f.label :lenguaje_origin %>
			<%= f.select :lenguaje_origin, options_for_select([["Español", "espanol"], ["English", "english"],["Français", "français"]]) %>
		  </div>
		  <div class="field">
		    <%= f.label :translate_to %>
			<%= f.select :translate, options_for_select([["Español", "espanol"], ["English", "english"],["Français", "français"]]) %>
		  </div>

		  <div class="field">
		    <%= f.label :body %>
		    <%= f.text_area :body, placeholder: "Describe el contenido", style:"height:250px;", class:"form-control" %>
		  
		  <div class="actions">
		    <%= f.submit "Save" %>
		  </div>
		  
		<% end %>
	</div>
</div>

